* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Para tamnhos, tentar utilizar em pixel, pois o JEditorPane não suporta a medida rem */

body {
    width: 110%;
    height: 110%;

    margin: 12px;
}

ul {
    list-style: none;
    list-style-type: none;
}

li {
    list-style: none;
}

p {
    margin: 0px;

    text-align: justify;
    text-indent: 16px;

    line-height: 24px;
}